mixin catalog-item(itemName, oldPrice, price, className)
  .catalog-item(class=className)
    |
    img(src="http://placecage.com/180/160", alt=itemName, width="180", height="160")
    |
    .catalog-item__descr
      |
      h4.catalog-item__title= itemName
      |
      p.catalog-item__old-price= oldPrice
      |
      p.catalog-item__price= price
    |
    .catalog-item__buttons
      |
      button.btn.btn--to-buy Купить
      |
      button.btn.btn--to-bookmarks В закладки
